@use '../../../../assets/styles/variables.scss' as variables;
@use '../../../../assets/styles/mixins.scss' as mixins;

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  &__title {
    text-align: center;
    text-shadow: -2px -2px 3px #ffffff,
      2px 2px 3px #bababa;
    font-size: variables.$text_size-normal;
    margin-bottom: 10px;

    @include mixins.tablet() {
      font-size: variables.$text_size_medium;
      margin-bottom: 15px;
    }

    @include mixins.desktop() {
      font-size: variables.$text_size_large;
      margin-bottom: 20px;
    }
  }

  &__form {
    padding: 4%;
    border-radius: 16px;
    background: #e8e8e8;
    box-shadow: 12px 12px 18px #bababa,
      -12px -12px 18px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    width: 80%;

    @include mixins.tablet() {
      width: 70%;
    }

    @include mixins.desktop() {
      width: 60%;
    }


    &__group {
      margin-bottom: 15px;

      &__label {
        display: block;
        margin-bottom: 5px;
        font-weight: variables.$text_bold;

      }

      &__input {
        width: 100%;
        height: 16%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 8px;
        font-size: 16px;
        border: none;
        letter-spacing: 2px;
        background: #f3f3f3;
        box-shadow: inset -2px -2px 4px #ffffff,
          inset 2px 2px 4px rgba(0, 0, 0, 0.356);
        text-decoration: none;
        background: linear-gradient(to right, white, #80808010, white);
        background-size: 200% 200%;
        animation: input 4s infinite;

        &:focus-visible {
          outline: none;
          background: rgb(241, 241, 241);
        }
      }

      &__error {
        color: red;
        font-size: 14px;
        margin-top: 5px;
      }
    }

    &__btn {
      font-size: variables.$text_size_xsmall;
      letter-spacing: 3px;
      color: white;
      font-weight: 700;
      height: 18%;
      background: linear-gradient(144deg, #af40ff,
          #5b42f3 50%, #00ddeb);
      border-radius: 8px;
      border: none;
      box-shadow: inset 1px 3px 3px #ffffffbd,
        inset -4px -4px 3px #00000046;
      background-size: 150% 150%;
      animation: input 5s infinite;
      transition: all 900ms ease-in;
      @include mixins.tablet() {
        font-size: variables.$text_size_small;
      }
      @include mixins.desktop() {
        font-size: variables.$text_size-normal;
      }

      &:hover {
        position: relative;
        bottom: 3px;
        background: linear-gradient(144deg, #9706ff,
            #2f0fff 50%, #18f0ff);
      }
    }
  }
}

@keyframes input {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
