<section class="accordion">
  <section class="accordion__item">
    <header class="accordion__item__header" (click)="toggleSection('table')">
      Tabla
    </header>
    <article class="accordion__item__content" [class.accordion__item__content--active]="isTableOpen">
      <section class="accordion__item__content__container">
        <table class="accordion__item__content__container__table">
          <thead class="accordion__item__content__container__table__thead">
            <tr class="accordion__item__content__container__table__thead__tr">
              <th class="accordion__item__content__container__table__thead__tr__th">Compañia</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Posicion</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Duracion</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Responsabilidades</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Logros</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Testimonio</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Operación</th>
            </tr>
          </thead>
          <tbody class="accordion__item__content__container__table__tbody">
            @if (listExperience()) {
              @for (experience of listExperience(); track experience) {
                <tr class="accordion__item__content__container__table__tbody__tr">
                  <td class="accordion__item__content__container__table__tbody__tr__td">{{ experience.company }}</td>
                  <td class="accordion__item__content__container__table__tbody__tr__td">{{ experience.position }}</td>
                  <td class="accordion__item__content__container__table__tbody__tr__td">{{ experience.duration }}</td>
                  <td class="accordion__item__content__container__table__tbody__tr__td">{{ experience.responsabilities }}</td>
                  <td class="accordion__item__content__container__table__tbody__tr__td">{{ experience.achievements }}</td>
                  <td class="accordion__item__content__container__table__tbody__tr__td">{{ experience.testimonial }}</td>
                  <td class="accordion__item__content__container__table__tbody__tr__td">
                    <button class="pi pi-trash accordion__item__content__container__table__tbody__tr__td__btn"></button>
                    <button class="pi pi-check accordion__item__content__container__table__tbody__tr__td__btn"></button>
                  </td>
                </tr>
              }
            }
            <tr class="accordion__item__content__container__table__tbody__tr">
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 1</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 2</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 3</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 4</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 5</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 6</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">
                <button class="pi pi-trash accordion__item__content__container__table__tbody__tr__td__bnt"></button>
                <button class="pi pi-check accordion__item__content__container__table__tbody__tr__td__btn"></button>
              </td>
            </tr>
            <tr class="accordion__item__content__container__table__tbody__tr">
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 1</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 2</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 3</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 4</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 5</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">Dato 6</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">
                <button class="pi pi-trash accordion__item__content__container__table__tbody__tr__td__bnt"></button>
                <button class="pi pi-check accordion__item__content__container__table__tbody__tr__td__btn"></button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </article>
  </section>
  <section class="accordion__item">
    <header class="accordion__item__header" (click)="toggleSection('form')">
      Formulario
    </header>
    <article class="accordion__item__content" [class.accordion__item__content--active]="isFormOpen">
      <section class="accordion__item__content__container">
        <form class="accordion__item__content__container__form">
          <label class="accordion__item__content__container__form__label" for="input1">Compañia *</label>
          <input class="accordion__item__content__container__form__input" id="input1" type="text" />
          <label class="accordion__item__content__container__form__label" for="input2">Posicion *</label>
          <input class="accordion__item__content__container__form__input" id="input2" type="text" />
          <label class="accordion__item__content__container__form__label" for="input3">Duracion *</label>
          <input class="accordion__item__content__container__form__input" id="input3" type="text" />
          <label class="accordion__item__content__container__form__label" for="input4">Responsabilidades *</label>
          <span>angular</span>
          <input class="accordion__item__content__container__form__input" id="input4" type="text" />
          <button class="pi pi-plus"></button>
          <label class="accordion__item__content__container__form__label" for="input4">Logros *</label>
          <span>angular</span>
          <input class="accordion__item__content__container__form__input" id="input4" type="text" />
          <button class="pi pi-plus"></button>
          <label class="accordion__item__content__container__form__label" for="input4">Testimonio *</label>
          <input class="accordion__item__content__container__form__input" id="input4" type="text" />
          <button class="accordion__item__content__container__form__btn" type="submit">Enviar *</button>
          <br>
          <button class="accordion__item__content__container__form__btn" type="submit">clear *</button>
        </form>
      </section>
    </article>
  </section>
</section>
