<section class="content">
  <section class="content__card1">
    <p class="content__card1__p">Desarrollador Full Stack especializado en Angular 16+ con 2 años de experiencia en
    startups y proyectos freelance. Competente en una variedad de lenguajes y frameworks,
    incluyendo Angular, React, Node.js con Express y Nest. Conocimiento en Linux, Docker,
    SQL y NoSQL. He optimizado aplicaciones web, participado en lanzamientos de
    proyectos y tengo experiencia en metodologías ágiles y revisión de código. Apasionado
    por la creación de soluciones eficientes y escalables.</p>
  </section>
  <section class="content__card2">
    <img class="content__card2__img" src="../../../../assets/imagen/logo1/1-removebg-preview.png" alt="logo">
  </section>
</section>
