@use '../../../../assets/styles/variables.scss' as variables;
@use '../../../../assets/styles/mixins.scss' as mixins;

.content {
  display: flex;
  padding: 80px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;

  &__card1 {
    border-radius: 50px;
    width: 100%;
    padding: 20px;
    background: linear-gradient(0deg, variables.color(deep-blue), variables.color(navy-blue));
    box-shadow: 20px 20px 60px rgba(50, 50, 93, 0.25),
      -20px -20px 60px rgba(255, 255, 255, 0.3);

      @include mixins.desktop() {
        width: 60%;
      }

    &__p {
      font-size: variables.$text_size_small;

      @include mixins.tablet() {
        font-size: variables.$text_size-normal;
      }

      @include mixins.desktop() {
        font-size: variables.$text_size_medium;
      }
    }
  }

  &__card2 {
    border-radius: 50px;
    background: linear-gradient(0deg, variables.color(deep-blue), variables.color(navy-blue));
    box-shadow: 20px 20px 60px rgba(50, 50, 93, 0.25),
      -20px -20px 60px rgba(255, 255, 255, 0.3);
    width: 40%;
    padding: 20px;

    @include mixins.desktop() {
        width: 25%;
      }

    &__img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
}
