@use '../../../../assets/styles/mixins.scss' as mixins;
@use '../../../../assets/styles/variables.scss' as variables;

.about {
  padding: 20px;
  color: variables.color(text-secondary-light);
  display: flex;
  flex-direction: column;

  &__history {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__h2 {
      font-size: variables.$text_size-normal;
      margin-bottom: 20px;
      color: variables.color(accent-light);
      text-align: center;

      @include mixins.tablet() {
        font-size: variables.$text_size_medium;
      }

      @include mixins.desktop() {
        font-size: variables.$text_size_large;
      }
    }

    &__content {
      display: flex;
      gap: 16px;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      &__card {
        max-width: 300px;
        padding: 20px;
        background: variables.color(text-main-dark);
        border-radius: 10px;
        transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
          0 0 0 2px rgb(190, 190, 190),
          0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        font-size: 16px;
        line-height: 1;

        @include mixins.tablet() {
          font-size: variables.$text_size_xsmall;
          line-height: 1.6;
        }
      }
    }

    &__line {
      background-color: variables.color(accent-light);
      padding: 1px;
      text-align: center;
    }
  }

  &__line {
    background-color: variables.color(accent-light);
    padding: 1px;
    text-align: center;
  }

  &__skills {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__h2 {
      font-size: variables.$text_size-normal;
      margin-bottom: 20px;
      color: variables.color(accent-light);
      text-align: center;

      @include mixins.tablet() {
        font-size: variables.$text_size_medium;
      }

      @include mixins.desktop() {
        font-size: variables.$text_size_large;
      }
    }

    &__content {
      display: flex;
      gap: 16px;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 10px;
          position: relative;
          padding-left: 20px;
          font-size: 16px;
          line-height: 1;

          @include mixins.tablet() {
            font-size: variables.$text_size_xsmall;
            line-height: 1.6;
          }

          &:before {
            content: '•';
            color: variables.color(accent-light);
            position: absolute;
            left: 0;
            font-size: 24px;
          }
        }
      }

      &__card {
        max-width: 300px;
        padding: 20px;
        background: variables.color(text-main-dark);
        border-radius: 10px;
        transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
          0 0 0 2px rgb(190, 190, 190),
          0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
      }
    }
  }

  &__education {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    &__h2 {
      font-size: variables.$text_size-normal;
      margin-bottom: 20px;
      color: variables.color(accent-light);
      text-align: center;

      @include mixins.tablet() {
        font-size: variables.$text_size_medium;
      }

      @include mixins.desktop() {
        font-size: variables.$text_size_large;
      }
    }

    &__content {
      display: flex;
      gap: 16px;
      justify-content: space-evenly;
      align-items: center;
      flex-wrap: wrap;

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 10px;
          position: relative;
          padding-left: 20px;
          font-size: 16px;
          line-height: 1;

          @include mixins.tablet() {
            font-size: variables.$text_size_xsmall;
            line-height: 1.6;
          }

          &:before {
            content: '•';
            color: variables.color(accent-light);
            position: absolute;
            left: 0;
            font-size: 24px;
          }
        }
      }

      &__card {
        max-width: 300px;
        padding: 20px;
        background: white;
        border-radius: 10px;
        transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
          0 0 0 2px rgb(190, 190, 190),
          0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
        font-size: 1.2rem;
        line-height: 1.6;
      }
    }
  }

  &__card {
    align-self: center;
    max-width: 500px;
    padding: 20px;
    background: white;
    border-radius: 10px;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1),
      0 0 0 2px rgb(190, 190, 190),
      0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
