<section class="about">
  <section class="about__history">
    <h2 class="about__history__h2">Historia Profesional</h2>
    <section class="about__history__content">
      <p class="about__history__content__card">Mi nombre es Jhon Jairo Pulido y soy desarrollador de software Full Stack
        especializado en
        Angular 16+. Mi viaje en el desarrollo web comenzó hace más de dos años, trabajando en startups y proyectos
        freelance. Durante este tiempo, he perfeccionado mis habilidades
      </p>
      <article class="about__history__content__card">
        <img src="../../../../assets/imagen/logo1/imagen2.gif" alt="history">
      </article>
    </section>
    <hr class="about__history__line">
    <section class="about__history__content">
      <article class="about__history__content__card">
        <img src="../../../../assets/imagen/logo1/imagen1.gif" alt="">
      </article>
      <p class="about__history__content__card">Uno de mis logros más significativos fue la optimización de una
        aplicación web, lo que mejoró significativamente la experiencia del usuario y aumentó la retención de clientes.
        Además, he trabajado en equipos ágiles, lo que me ha permitido desarrollar habilidades de colaboración y comunicación.</p>
    </section>
  </section>
  <hr class="about__line">
  <section class="about__skills">
    <h2 class="about__skills__h2">Habilidades</h2>
    <section class="about__skills__content">
      <ul class="about__skills__content__ul">
        <li class="about__skills__content__ul__li">Desarrollo Frontend con Angular 16+</li>
        <li class="about__skills__content__ul__li">Desarrollo Backend con Node.js, Express y Nest</li>
        <li class="about__skills__content__ul__li">Integración de bases de datos SQL y NoSQL (PostgreSQL, MongoDB)</li>
        <li class="about__skills__content__ul__li">Administración de sistemas Linux</li>
        <li class="about__skills__content__ul__li">Implementación de metodologías ágiles (Scrum, Kanban)</li>
      </ul>
      <article class="about__skills__content__card">
        <img src="../../../../assets/imagen/logo1/skill.gif" alt="">
      </article>
    </section>
  </section>
  <hr class="about__line">
  <section class="about__education">
    <h2 class="about__education__h2">Certificaciones y Educación</h2>
    <section class="about__education__content">
      <article class="about__education__content__card">
        <img src="../../../../assets/imagen/logo1/education.gif" alt="">
      </article>
      <ul class="about__education__content__ul">
        <li class="about__education__content__ul__li">Full stack - Holberton 1 año</li>
        <li class="about__education__content__ul__li">software foundation - Holberton 1 año</li>
        <li class="about__education__content__ul__li">Ingenieria electonica - univ Antonio Jose Camacho</li>
        <li class="about__education__content__ul__li">Curso angular de 0 a experto - Udemy</li>
        <li class="about__education__content__ul__li">Curso de Angular Router - Platzi</li>
        <li class="about__education__content__ul__li">Curso de Consumo de APIs REST con Angular - Platzi</li>
        <li class="about__education__content__ul__li">Curso de Fundamentos de Angular - Platzi</li>
        <li class="about__education__content__ul__li">Curso de Fundamentos de TypeScript - Platzi</li>
        <li class="about__education__content__ul__li">Curso Profesional de Git y GitHub - Platzi</li>
        <li class="about__education__content__ul__li">Curso de Frontend Developer - Platzi</li>
      </ul>
    </section>
  </section>
  <article class="about__card">
    <img src="../../../../assets/imagen/logo1/history.gif" alt="">
  </article>
</section>
