<section class="about">
  <section class="about__content">

    <section class="about__content__history">
      <h2 class="about__content__history__h2">Historia Profesional</h2>
      <p class="about__content__history__card">Mi nombre es Jhon Jairo Pulido y soy desarrollador de software Full Stack
        especializado en
        Angular 16+. Mi viaje en el desarrollo web comenzó hace más de dos años, trabajando en startups y proyectos
        freelance. Durante este tiempo, he perfeccionado mis habilidades.
        Uno de mis logros más significativos fue la optimización de una
        aplicación web, lo que mejoró significativamente la experiencia del usuario y aumentó la retención de clientes.
        Además, he trabajado en equipos ágiles, lo que me ha permitido desarrollar habilidades de colaboración y
        comunicación.
      </p>
    </section>

    <section class="about__content__skills">
      <h2 class="about__content__skills__h2">Habilidades</h2>
      <section class="about__content__skills__list">
        <ul class="about__content__skills__list__ul">
          <li class="about__content__skills__list__ul__li">Desarrollo Frontend con Angular 16+</li>
          <li class="about__content__skills__list__ul__li">Desarrollo Backend con Node.js, Express y Nest</li>
          <li class="about__content__skills__list__ul__li">Integración de bases de datos SQL y NoSQL (PostgreSQL, MongoDB)</li>
          <li class="about__content__skills__list__ul__li">Administración de sistemas Linux</li>
          <li class="about__content__skills__list__ul__li">Implementación de metodologías ágiles (Scrum, Kanban)</li>
        </ul>
      </section>
    </section>

    <section class="about__content__education">
      <h2 class="about__content__education__h2">Certificaciones y Educación</h2>
      <section class="about__content__education__list">
        <ul class="about__content__education__list__ul">
          <li class="about__content__education__list__ul__li">Full stack - Holberton 1 año</li>
          <li class="about__content__education__list__ul__li">software foundation - Holberton 1 año</li>
          <li class="about__content__education__list__ul__li">Ingenieria electonica - univ Antonio Jose Camacho</li>
          <li class="about__content__education__list__ul__li">Curso angular de 0 a experto - Udemy</li>
          <li class="about__content__education__list__ul__li">Curso de Angular Router - Platzi</li>
          <li class="about__content__education__list__ul__li">Curso de Consumo de APIs REST con Angular - Platzi</li>
          <li class="about__content__education__list__ul__li">Curso de Fundamentos de Angular - Platzi</li>
          <li class="about__content__education__list__ul__li">Curso de Fundamentos de TypeScript - Platzi</li>
          <li class="about__content__education__list__ul__li">Curso Profesional de Git y GitHub - Platzi</li>
          <li class="about__content__education__list__ul__li">Curso de Frontend Developer - Platzi</li>
        </ul>
      </section>
    </section>
  </section>

  <article class="about__imagen">
    <img src="../../../../assets/imagen/logo1/history.gif" alt="about">
  </article>
</section>
