@use '../../../../assets/styles/mixins.scss' as mixins;
@use '../../../../assets/styles/variables.scss' as variables;

.about {
  display: flex;
  flex-direction: column;
  @include mixins.tablet() {
    padding: 40px;
  }
  @include mixins.desktop() {
    flex-direction: row;
    gap: 16px;
  }

  &__content {
    padding: 20px;
    @include mixins.desktop() {
      width: 60%;
    }

    &__history,
    &__skills,
    &__education {
      margin-bottom: 20px;

      &__h2 {
        font-size: variables.$text_size-normal;
        margin-bottom: 10px;

        @include mixins.tablet() {
          font-size: variables.$text_size_medium;
        }

        @include mixins.desktop() {
          font-size: variables.$text_size_large;
        }
      }

      &__card {
        font-size: variables.$text_size_xsmall;
        padding-left: 20px;
        text-align: justify;

        @include mixins.tablet() {
          font-size: variables.$text_size_small;
        }

        @include mixins.desktop() {
          font-size: variables.$text_size_normal;
        }
      }

      &__list {
        padding-left: 50px;

        &__ul {
          list-style: disc;
          padding: 0;

          &__li {
            margin-bottom: 10px;
            color: variables.color(sand-white);
            font-size: variables.$text_size_xsmall;

            @include mixins.tablet() {
              font-size: variables.$text_size_small;
            }

            @include mixins.desktop() {
              font-size: variables.$text_size_normal;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &__imagen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    @include mixins.desktop() {
      width: 35%;
    }

    img {
      max-width: 100%;
      border-radius: 50%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      @include mixins.desktop() {
        border-radius: 90px;
      }
    }
  }
}
