<footer class="footer">
  <section class="footer__content">
    <section class="footer__content__contact">
      <h3 class="footer__content__contact__h3">Contacto</h3>
      <p class="footer__content__contact__email">Correo:
        <a class="footer__content__contact__email__link"
          href="mailto:jhon.jairo@example.com">pulidojj174&#64;gmail.com</a>
      </p>
      <p class="footer__content__contact__telephone">Teléfono: +57 318 553 95 06</p>
      <p class="footer__content__contact__site">Ubicación: Cali - Valle, Colombia</p>
    </section>
    <section class="footer__content__nav">
      <h3 class="footer__content__nav__h3">Navegación</h3>
      <ul class="footer__content__nav__ul">
        <li class="footer__content__nav__ul__li">
          <a class="footer__content__nav__ul__li__a" [routerLink]="['/about']">Sobre Mí</a>
        </li>
        <li class="footer__content__nav__ul__li">
          <a class="footer__content__nav__ul__li__a" [routerLink]="['/projects']">Proyectos</a>
        </li>
        <li class="footer__content__nav__ul__li">
          <a class="footer__content__nav__ul__li__a" [routerLink]="['/experience']">Experiencia</a>
        </li>
        <li class="footer__content__nav__ul__li">
          <a class="footer__content__nav__ul__li__a" [routerLink]="['/contact']">Contacto</a>
        </li>
        <li class="footer__content__nav__ul__li"><a class="footer__content__nav__ul__li__a"
            href="https://szpg5a4oczagkd6h.public.blob.vercel-storage.com/Jhon_Pulido_desarrollo_software_cv__espa%C3%B1ol-g04vgu6eQv2Jg7j91d0c9SbVveIXWa.pdf"
            target="_blank" download>Descargar CV español</a>
        <li class="footer__content__nav__ul__li"><a class="footer__content__nav__ul__li__a"
            href="https://szpg5a4oczagkd6h.public.blob.vercel-storage.com/Jhon_Pulido_desarrollo_software_cv_portugues-p00zszHd6CDoH9USUGwITpGTafO80U.pdf"
            target="_blank" download>Descargar CV portuges</a>
        <li class="footer__content__nav__ul__li"><a class="footer__content__nav__ul__li__a"
            href="https://szpg5a4oczagkd6h.public.blob.vercel-storage.com/Jhon_Pulido_desarrollo_software_cv__ingles-5lGeM3h8N40meWZ1KyAwR4O5VSSjd7.pdf"
            target="_blank" download>Descargar CV ingles</a></li>
      </ul>
    </section>
    <section class="footer__content__links">
      <h3 class="footer__content__links__h3">Sígueme</h3>
      <section class="footer__content__links__main">
        <section class="footer__content__links__main__up">
          <button class="footer__content__links__main__up__card1">
            <a href="https://www.instagram.com/jhonjairpulido/" target="_blank">
              <i class="pi pi-instagram footer__content__links__main__up__card1__instagram"></i>
            </a>
          </button>
          <button class="footer__content__links__main__up__card2">
            <a href="https://x.com/PulidoLasso" target="_blank">
              <i class="pi pi-twitter footer__content__links__main__up__card2__twitter"></i>
            </a>
          </button>
        </section>
        <section class="footer__content__links__main__down">
          <button class="footer__content__links__main__down__card3">
            <a href="https://github.com/jhonpulido1990" target="_blank">
              <i class="pi pi-github footer__content__links__main__down__card3__github"></i>
            </a>
          </button>
          <button class="footer__content__links__main__down__card4">
            <a href="http://linkedin.com/in/jhon-j-pulido" target="_blank">
              <i class="pi pi-linkedin footer__content__links__main__down__card4__linkedin"></i>
            </a>
          </button>
        </section>
      </section>
    </section>
  </section>
  <section class="footer__bottom">
    <p class="footer__bottom__p">&copy; {{ year }} Jhon Jairo Pulido. Todos los derechos reservados.</p>
  </section>
</footer>
