<nav class="navbar">
  <i class="pi pi-home" [routerLink]="['/']">Home</i>
  <i class="pi pi-user">{{ username }}</i>
  <i class="pi pi-sign-out" (click)="cleartoken()">Cerrar seccion</i>
</nav>
<section class="admin">
  <article class="admin__panel">
    <button class="pi pi-book admin__panel__btn" [routerLink]="['/admin/blog']"> Blog</button>
    <button class="pi pi-briefcase admin__panel__btn" [routerLink]="['/admin/experience']"> Experiencia</button>
    <button class="pi pi-th-large admin__panel__btn" [routerLink]="['/admin/projects']"> Proyectos</button>
  </article>
  <article class="admin__router">
    <router-outlet />
  </article>
</section>
