@use '../../../../assets/styles/mixins.scss' as mixins;
@use '../../../../assets/styles/variables.scss' as variables;

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  border-bottom: 1px solid variables.color(algae-green);
}

.admin {
  margin: 0;
  display: flex;
  flex-direction: column;

  @include mixins.tablet() {
    flex-direction: row;
  }

  &__panel {
    width: 100%;
    border-bottom: 1px solid green;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 15px;

    @include mixins.tablet() {
      width: 20%;
      height: 100vh;
      border-bottom: 0;
      padding-top: 15px;
      border-right: 1px solid green;
    }
  }

  &__router {
    width: 100%;

    @include mixins.tablet() {
      width: 80%;
    }
  }
}
