@use '../../../../assets/styles/variables.scss' as variables;
@use '../../../../assets/styles/mixins.scss' as mixins;


.projects {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-size: variables.$text_medium;
    margin-bottom: 20px;

    @include mixins.tablet() {
      font-size: variables.$text_size_medium;
    }

    @include mixins.desktop() {
      font-size: variables.$text_size_large;
    }
  }

  &__caroulse {
    width: 95%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include mixins.tablet() {
      margin: 50px auto;
    }

    @include mixins.desktop() {
      margin: 100px auto;
    }

    &__card {
      background-color: variables.color(navy-blue);
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin: 20px;
      overflow: hidden;

      &__content {
        width: 100%;
        height: auto;
        border-bottom: 1px solid variables.color(stone-gray);

        &__img {
          width: 100%;
        }
      }

      &__info {
        padding: 20px;
        text-align: center;

        &__title {
          font-size: variables.$text_size_xsmall;
          margin-bottom: 10px;

          @include mixins.tablet() {
            font-size: variables.$text_size_small;
          }

          @include mixins.desktop() {
            font-size: variables.$text_size-normal;
          }
        }

        p {
          margin: 5px 0;
          font-size: 16px;

          @include mixins.tablet() {
            font-size: variables.$text_size_xsmall;
          }

          @include mixins.desktop() {
            font-size: variables.$text_size-normal;
          }
        }

        &__links {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
          gap: 10px;
          margin-top: 10px;

          &__a {
            color: variables.color(deep-blue);
            background-color: variables.color(algae-green);
            padding: 6px 6px;
            border-radius: 5px;
            text-decoration: none;

            &:hover {
              background-color: variables.color(stone-gray);
              color: variables.color(sand-white);
            }

          }
        }
      }
    }
  }

}


/* From Uiverse.io by bociKond */
.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, .1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;

  &>div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);

    &:nth-of-type(1) {
      transform: translateZ(-35.2px) rotateY(180deg);
    }

    &:nth-of-type(2) {
      transform: rotateY(-270deg) translateX(50%);
      transform-origin: top right;
    }

    &:nth-of-type(3) {
      transform: rotateY(270deg) translateX(-50%);
      transform-origin: center left;
    }

    &:nth-of-type(4) {
      transform: rotateX(90deg) translateY(-50%);
      transform-origin: top center;
    }

    &:nth-of-type(5) {
      transform: rotateX(-90deg) translateY(50%);
      transform-origin: bottom center;
    }

    &:nth-of-type(6) {
      transform: translateZ(35.2px);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }
}
