@use '../../../../assets/styles/variables.scss' as variables;
@use '../../../../assets/styles/mixins.scss' as mixins;

.blog {
  display: flex;
  flex-direction: column;
  padding: 20px;

  &__title {
    text-align: center;
    font-size: variables.$text_size-normal;
    margin-bottom: 10px;

    @include mixins.tablet() {
      font-size: variables.$text_size_medium;
      margin-bottom: 15px;
    }

    @include mixins.desktop() {
      font-size: variables.$text_size_large;
      margin-bottom: 20px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;

    &__title {
      font-size: variables.$text_size_xsmall;
      margin-bottom: 5px;
      color: variables.color(algae-green);

      @include mixins.tablet() {
        font-size: variables.$text_size_small;
        margin-bottom: 7px;
      }

      @include mixins.desktop() {
        font-size: variables.$text_size-normal;
        margin-bottom: 10px;
      }
    }

    &__date {
      font-size: 0.9rem;
      color: variables.color(dark-turquoise);
      margin-bottom: 10px;
    }

    &__description {
      margin: 5px 0;
    }

    &__a {
      color: variables.color(algae-green);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


/* From Uiverse.io by bociKond */
.spinner {
  width: 70.4px;
  height: 70.4px;
  --clr: rgb(247, 197, 159);
  --clr-alpha: rgb(247, 197, 159, .1);
  animation: spinner 1.6s infinite ease;
  transform-style: preserve-3d;

  &>div {
    background-color: var(--clr-alpha);
    height: 100%;
    position: absolute;
    width: 100%;
    border: 3.5px solid var(--clr);

    &:nth-of-type(1) {
      transform: translateZ(-35.2px) rotateY(180deg);
    }

    &:nth-of-type(2) {
      transform: rotateY(-270deg) translateX(50%);
      transform-origin: top right;
    }

    &:nth-of-type(3) {
      transform: rotateY(270deg) translateX(-50%);
      transform-origin: center left;
    }

    &:nth-of-type(4) {
      transform: rotateX(90deg) translateY(-50%);
      transform-origin: top center;
    }

    &:nth-of-type(5) {
      transform: rotateX(-90deg) translateY(50%);
      transform-origin: bottom center;
    }

    &:nth-of-type(6) {
      transform: translateZ(35.2px);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
    }

    50% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
    }

    100% {
      transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
    }
  }
}
