<section class="accordion">
  <section class="accordion__item">
    <header class="accordion__item__header" (click)="toggleSection('table')">
      Tabla
    </header>
    <article class="accordion__item__content" [class.accordion__item__content--active]="isTableOpen">
      <section class="accordion__item__content__container">
        <table class="accordion__item__content__container__table">
          <thead class="accordion__item__content__container__table__thead">
            <tr class="accordion__item__content__container__table__thead__tr">
              <th class="accordion__item__content__container__table__thead__tr__th">Titulo</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Descricción</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Link</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Fecha</th>
              <th class="accordion__item__content__container__table__thead__tr__th">Operación</th>
            </tr>
          </thead>
          <tbody class="accordion__item__content__container__table__tbody">
            @if(listBlog().length > 0){
            @for(blog of listBlog(); track blog){
            <tr class="accordion__item__content__container__table__tbody__tr">
              <td class="accordion__item__content__container__table__tbody__tr__td">{{ blog.title }}</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">{{ blog.description }}</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">{{ blog.link }}</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">{{ blog.date }}</td>
              <td class="accordion__item__content__container__table__tbody__tr__td">
                <button class="pi pi-trash accordion__item__content__container__table__tbody__tr__td__btn"
                  (click)="deleteBlog(blog.id!)"></button>
                <button class="pi pi-check accordion__item__content__container__table__tbody__tr__td__btn"
                  (click)="updateBlog(blog.id!)"></button>
              </td>
            </tr>
            }
            } @else {
            @for(item of [1,2,3,4,5]; track item)
            {
            <tr>
              <td><p-skeleton height="35px" /></td>
              <td><p-skeleton height="35px" /></td>
              <td><p-skeleton height="35px" /></td>
              <td><p-skeleton height="35px" /></td>
              <td><p-skeleton height="35px" /></td>
            </tr>
            }
            }
          </tbody>
        </table>
      </section>
    </article>
  </section>
  <section class="accordion__item">
    <header class="accordion__item__header" (click)="toggleSection('form')">
      Formulario
    </header>
    <article class="accordion__item__content" [class.accordion__item__content--active]="isFormOpen">
      <section class="accordion__item__content__container">
        <form class="accordion__item__content__container__form" [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <label class="accordion__item__content__container__form__label" for="input1">Titulo *</label>
          <input class="accordion__item__content__container__form__input" id="input1" type="text"
            formControlName="title" />
          <article class="accordion__item__content__container__form__error" *ngIf="isValidField('title')">
            {{ getFieldError('title') }}
          </article>
          <label class="accordion__item__content__container__form__label" for="input2">Descriccion *</label>
          <input class="accordion__item__content__container__form__input" id="input2" type="text"
            formControlName="description" />
          <article class="accordion__item__content__container__form__error" *ngIf="isValidField('description')">
            {{ getFieldError('description') }}
          </article>
          <label class="accordion__item__content__container__form__label" for="input3">Link *</label>
          <input class="accordion__item__content__container__form__input" id="input3" type="text"
            formControlName="link" />
          <article class="accordion__item__content__container__form__error" *ngIf="isValidField('link')">
            {{ getFieldError('link') }}
          </article>
          <label class="accordion__item__content__container__form__label" for="input4">Fecha *</label>
          <input class="accordion__item__content__container__form__input" id="input4" type="date"
            formControlName="date" />
          <article class="accordion__item__content__container__form__error" *ngIf="isValidField('date')">
            {{ getFieldError('date') }}
          </article>
          <button class="accordion__item__content__container__form__btn" type="submit">Enviar *</button>
          <br>
          <button class="accordion__item__content__container__form__btn" type="submit">clear *</button>
        </form>
      </section>
    </article>
  </section>
</section>
